 <div class="nav-container">
    <a href="{{ "Khouloud/" | relative_url }}">
      <img src="{{ "Khouloud/assets/img/svg/" | relative_url }}Personal_Logo.svg" height="100">
    </a>
 <nav>
           <ul>
                         <li><a href="{{ "Khouloud/design/" | relative_url }}">Design</a></li>
                         <li><a href="#type">Type</a></li>
                         <li><a href="#text">Text & Images</a></li>
                         <li><a href="#colours">Colours</a></li>

           </ul>
</nav>
</div>
