<nav id="main-nav">
     height="75">
    <ul>
       
                    <li><a href="#type">Type</a></li>
                    <li><a href="#text">Text & Images</a></li>
                    <li><a href="#colours">Colours</a></li>
             
    
<div class="main-nav">
    <a href="{{ "Khouloud/" | relative_url }}">
      <img src="./assets/img/svg/Personal_Logo.svg" | relative_url }}Personal_Logo.svg" height="40">
    </a>
  <nav>
    <ul>
      <li><a href="{{ "Khouloud/design/" | relative_url }}">Design</a></li>
  <li>more things</li>
  <li>more things</li>
      </ul>
</nav>
</div>
